<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/samprojectprocat/css/anaxago.css') }}">
    </head>
    <body>
        <a href="{{ path('product') }}">Products</a>
        <a href="{{ path('category') }}">Categories</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('bundles/samprojectprocat/js/main.js') }}"></script>
    </body>
</html>
